.custom-search-btn {
  background-color: #FFF6D2;
  color: #132FBA;
  border: 2px solid transparent;
  font-weight: 600;
  transition: all 0.3s ease;
}

.custom-search-btn:hover {
  background-color: #132FBA;
  color: #FFF6D2;
  border-color: #132FBA;
}

.header {
  background-image: url(../../assets/images/BACKGROUND.jpg);
  color: white;
}

.image-wrapper {
  width: 200px;
  height: 150px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 8px;
  background-color: #f0f0f0;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.filter-panel {
  background-color:  #FFF6D2;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
}

.filter-section {
  background-color: #FFFEFA;;
  border: 1px solid #e0d7c6;
  border-radius: 12px;
  padding: 12px 16px;
  margin-bottom: 16px;
}

.filter-section input[type="number"] {
  padding: 4px 8px;
}

.filter-section select {
  padding: 4px 8px;
}

.filter-header {
  font-weight: 600;
  margin-bottom: 10px;
  color: #132FBA;
  font-size: 15px;
}

.form-check {
  margin-bottom: 6px;
}

.filter-title {
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}

.filter-title h5 {
  color: #132fba;
}

.filter-title i {
  animation: popIn 0.3s ease-in-out;
}

.filter-title i:hover {
  transform: rotate(20deg);
  transition: transform 0.3s ease;
}

.room-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.room-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #f8f9ff;
}


@keyframes popIn {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}



